.home-container {
  position: relative;
  max-width: 1200px;
  height: 650px;
  width: 100%;
  margin: 50px auto 80px auto;
}

.home-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(27, 3, 78, 0.65);
}

.home-container-text {
  position: absolute;
  top: 50px;
  left: 60px;
}

.home-title {
  font-family: Poppins , Arial;
  font-weight: 700;
  font-size: 62px;
  color: white;
  line-height: 82px;
  margin-bottom: 50px;
}

.home-description {
  font-family: Inter , Arial;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin-bottom: 50px;
}

.buy-now-button-1 {
  font-family: Inter , Arial;
  padding: 14px 28px;
  background-color: white;
  color: black;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: opacity 0.15s;
}

.buy-now-button-1:hover {
  opacity: 0.7;
}

.buy-now-button-1:active {
  opacity: 0.4;
}

.buy-now-button-2 {
  font-family: Inter , Arial;
  padding: 14px 28px;
  background-color: transparent;
  color: white;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  border: 1px solid white;
  cursor: pointer;
  transition: opacity 0.15s;
}

.buy-now-button-2:hover {
  opacity: 0.7;
}

.buy-now-button-2:active {
  opacity: 0.4;
}